<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pl.lpu.radio" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LPU Radio</name>
    <description>
        Aplikacja Puławskiego Radia LPU.
    </description>
    <author href="http://lpuradio.pl/">
        LPURadio
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <alllow-intent href="http://lpu24.pl/radio/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-navigation href="*" />
        <icon density="ldpi" src="res/icons/android/36.png" />
        <icon density="mdpi" src="res/icons/android/48.png" />
        <icon density="hdpi" src="res/icons/android/72.png" />
        <icon density="xhdpi" src="res/icons/android/96.png" />
    </platform>
    <plugin name="cordova-plugin-network-information" spec="~1.2.1" />
    <plugin name="cordova-plugin-media" spec="~2.3.0" />
    <engine name="android" spec="~5.2.2" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <feature name="Media">
        <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
    </feature>
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
</widget>
