<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pl.lpu24.radio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LPU Radio</name>
    <description>
        Aplikacja Puławskiego Radia LPU.
    </description>
    <!-- <author email="" href="http://hs-silesia.pl/"> -->
        <!-- Hackerspace Silesia -->
    <!-- </author> -->

    <author href="http://lpu24.pl/">
        LPU24
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <alllow-intent href="http://lpu24.pl/radio/*"></alllow-intent>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <allow-intent href="tel:*" /> -->
    <!-- <allow-intent href="sms:*" /> -->
    <!-- <allow-intent href="mailto:*" /> -->
    <!-- <allow-intent href="geo:*" /> -->
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icons/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icons/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icons/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icons/android/icon-96-xhdpi.png" density="xhdpi" />
    </platform>
</widget>
